# Dependências do Node
node_modules/

# Ambientes Locais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds do Next.js
.next/
out/
build/
dist/

# IDE e Sistema Operacional
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel / NPM Logs
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
